<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~zzz/cturk-task4/cturk/server/webroot 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
